{% extends 'base.html' %}
{% load static %}
{% block content %}

<ul>
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">List of movies</h1>
    <hr/>
    {% for object in object_list %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{{ object }}</h6>
        </div>
        <div class="card-body">
            <img src={{ object.poster }} width="150">
            <p>{{ object.plot }} </p>
            <a href="{% url 'detail_movie' object.pk %}">See more</a>
            <hr/>
        </div>
        {% empty %}
        <h2>No objects yet.</h2>
        {% endfor %}
    </div>
</ul>
{% endblock %}